<div class="bg-black md:flex px-4 py-12">
  <div class="w-full md:w-72 lg:w-96 flex-none pb-12">
    {% include "syllabus" %}
  </div>

  <main class="w-full">
    <h1 class="text-white text-5xl serif pb-1">Welcome!</h1>
    <p class="text-white sans-serif pb-4 max-w-xl">This is the online learning platform that you'll use to work through your course.</p>
    {% include "resume_button" %}
  </main>
</div>
