<div class="bg-black md:flex px-4 py-12">
  <div class="w-full md:w-72 lg:w-96 flex-none pb-12">
    {% include "syllabus" %}
  </div>

  <main class="w-full">
    <h2 class="text-white sans-serif uppercase pb-4 text-xs">Lesson 1</h2>
    <h1 class="text-white text-5xl serif pb-1">The Handmade Web and HTML</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0LRmOzkUaHU?si=x380Gs8AsqUyDrWP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </main>
</div>